# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/coverage-jest
/coverage-cypress
/coverage-final.json
.nyc_output
/cypress/videos
/cypress/screenshots
/cypress/downloads
/cypress/coverage
/jest/coverage
/test-results
/test-report
/__tests__/__snapshots__

# Production
/dist
/build

# Misc
.DS_Store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE
.idea
.vscode
*.swp
*.swo

# Netlify
.netlify

# Database
*.sqlite
*.sqlite3
*.db
*.sql.gz
*.dump

# PostgreSQL
*.pgsql
*.backup
pg_dump*
*.pgdump
*.dat
postgresql.conf
pg_hba.conf
postgresql-*.log

# Scripts temporaires
scripts/temp*.js

# Types personnalisés
# Conserver les déclarations de types pour le développement, mais les exclure des commits si nécessaire
# src/types/declarations
